# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://Yashumak:3hSiEsFhuSXF0TWH@cluster0.v1bwtoa.mongodb.net/skillcertify?retryWrites=true&w=majority&appName=Cluster0

# Razorpay Configuration (if needed)
RAZORPAY_KEY_ID=rzp_live_AjWcsczFKa2AbV
RAZORPAY_KEY_SECRET=lGlCyzpDfuxLVeExEwonkynA
